git-new/src/main/mule/git-new.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1127a38e-254c-4e40-9296-0b6008943962" >
		<http:listener-connection host="0.0.0.0" port="8078" />
	</http:listener-config>
	<flow name="git-newFlow" doc:id="6942c31e-4ee2-41aa-a0c7-380e1df803df" >
		<http:listener doc:name="Listener" doc:id="c1f16028-dbab-44f0-a2ba-4995fdadaa8c" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="git set up test 0" doc:name="Set Payload" doc:id="d6ca9abc-7695-4eb4-9512-d7e15374d74e" />
		<logger level="INFO" doc:name="Logger" doc:id="eac56ece-35a7-468f-a4a0-8341e048b5f9" message="#[payload]"/>
	</flow>
</mule>
